{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="main">
    <h1 class="header main__header--course-name">Students list</h1>
    <div class="inner-wrapper">
        <h2 class="header header--course-desc">Description - Hardcore Python Course</h2>
        <a href="{% url 'students:add' %}" class="btn btn-success margin-bot">Add new Student</a>
        <div class="margin-bot">List</div>
        <ul class="course__table">
            <li class="course__row course__row--head">
                <span class="course__cell">#</span>
                <span class="course__cell">Имя Фамилия</span>
                <span class="course__cell">Адрес</span>
                <span class="course__cell">Скайп</span>
                <span class="course__cell">Курс</span>
                <span class="course__cell">Редактировать</span>
                <span class="course__cell">Удалить</span>
            </li>
            {% for student in object_list %}
                <li class="course__row">
                    <span class="course__cell">{{ student.id }}</span>
                    <span class="course__cell"><a href="{% url 'students:detail' student.id %}">{{ student.full_name }}</a></span>
                    <span class="course__cell">{{ student.address }}</span>
                    <span class="course__cell">{{ student.skype }}</span>
                    <span class="course__cell">
                        {% for course in student.courses.all %}
                          <div><a href='{% url 'courses:detail' course.id  %}'>{{ course }}</a></div>
                        {% endfor %}
                    </span>
                    <span class="course__cell"><a href="{% url 'students:edit' student.id %}" class="btn btn-success">Edit</a></span>
                    <span class="course__cell"><a class="btn btn-danger" role="button" href="{% url 'students:remove' student.id %}">Delete</a></span>
                </a>
                </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
        <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true"><< previous</span></a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li {% if page == page_obj.number %} class="active" {% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">next >></span></a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</main>
{% endblock content %}