{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <main class="main">
        <h1 class="header main__header--course-name">{{ student.name }} {{ student.surname }}</h1>
        <div class="inner-wrapper">
            <ul class="course__table">
                <li class="course__row">
                    <span class="course__cell">дата рождения</span>
                    <span class="course__cell">адрес</span>
                    <span class="course__cell">почта</span>
                    <span class="course__cell">телефон</span>
                    <span class="course__cell">skype</span>
                    <span class="course__cell">курсы</span>
                </li>
                <li class="course__row">
                    <span class="course__cell">{{ student.date_of_birth|date:'j F, Y' }}</span>
                    <span class="course__cell">{{ student.address }}</span>
                    <span class="course__cell">{{ student.email }}</span>
                    <span class="course__cell">{{ student.phone }}</span>
                    <span class="course__cell">{{ student.skype }}</span>
                    <span class="course__cell">
                    {% for course in student.courses.all %}
                        <div><a href='{% url 'courses:detail' course.id %}'>{{ course }}</a></div>
                    {% endfor %}
                </span>
                </li>
            </ul>
            <div class="table__wrapper">
                <span class="student-detail__table-title">Performance</span>
                <div class="table performance-table">
                    <div class="table__row table__row--head">
                        <span class="table__cell">Course</span>
                        <span class="table__cell">Week</span>
                        <span class="table__cell">Control Type</span>
                        <span class="table__cell">Grade</span>
                    </div>
                    <div class="table__row">
                        <span class="table__cell">PY101 Введение в Python</span>
                        <span class="table__cell">Week 1</span>
                        <span class="table__cell">Tests</span>
                        <span class="table__cell">99%</span>
                    </div>
                    <div class="table__row">
                        <span class="table__cell"></span>
                        <span class="table__cell"></span>
                        <span class="table__cell">Problem Task #1</span>
                        <span class="table__cell">100%</span>
                    </div>
                    <div class="table__row">
                        <span class="table__cell"></span>
                        <span class="table__cell"></span>
                        <span class="table__cell">Problem Task #2</span>
                        <span class="table__cell">100%</span>
                    </div>
                    <div class="table__row">
                        <span class="table__cell"></span>
                        <span class="table__cell">Week 2</span>
                        <span class="table__cell">Tests</span>
                        <span class="table__cell">100%</span>
                    </div>
                    <div class="table__row">
                        <span class="table__cell"></span>
                        <span class="table__cell"></span>
                        <span class="table__cell">Problem Task #1</span>
                        <span class="table__cell">100%</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}