{% extends "base.html" %}

{% block title %}HappyBursa{% endblock %}

{% block content %}
<main class="main">
    <h1 class="header main__header--course-name">HappyBursa</h1>
    <div class="inner-wrapper">
        <h2 class="header header--course-desc">Description - Hardcore Python Course</h2>
        <strong>Program</strong>
        <ul class="course__table">
            <li class="course__row">
                <span class="course__cell"></span>
                <span class="course__cell"></span>
            </li>
            {% for course in courses %}
                <li class="course__row">
                <span class="course__cell"><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></span>
                <span class="course__cell">{{ course.short_description|title }}</span>
            </li>
            {% endfor %}

        </ul>
    </div>
</main>
{% endblock content %}