{% extends "base.html" %}

{% block title %}HappyBursa{% endblock %}

{% block content %}
<main class="main">
    <div class="jumbotron width100per">
        <h1 class="header main__header--course-name">{{ course.name }}</h1>
        <span class="course-description">{{ course.description|truncatechars:35 }}</span>
    </div>

    <div class="well">
        <div class="panel panel-default">
            <div class="panel-heading">Преподователь(и)</div>
            <div class="panel-body">
                <a href="{% url 'coaches:detail' course.coach.id %}" class="coach">
                    {{ course.coach.get_name }} {{ course.coach.get_surname }}
                    </a>
                    <div class="descripton">
                        {{ course.coach.description }}
                    </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Ассистент(ы)</div>
            <div class="panel-body">
                <a href="{% url 'coaches:detail' course.assistant.id %}" class="assistant">
                    {{ course.assistant.get_name }} {{ course.assistant.get_surname }}
                    </a>
                    <div class="descripton">
                        {{ course.assistant.description }}
                    </div>

            </div>
        </div>
    </div>



    <div class="inner-wrapper panel panel-default">
        <h2 class="header header--course-desc panel-heading">Description - Hardcore Python Course</h2>
        <div class="panel-body">
            <strong>Program</strong>
            <a href="{% url 'courses:add-lesson' course.id %}" class="btn btn-default">Add new lesson</a>
            <ul class="course__table">
                <li class="course__row">
                    <span class="course__cell">#</span>
                    <span class="course__cell">Тема</span>
                    <span class="course__cell">Описание</span>
                </li>
                {% for lesson in lessons_list %}
                    <li class="course__row">
                    <span class="course__cell">{{ lesson.id }}</span>
                    <span class="course__cell">{{ lesson.subject }}</span>
                    <span class="course__cell">{{ lesson.description }}</span>
                </li>
                {% endfor %}

            </ul>
        </div>

    </div>
</main>
{% endblock content %}