{% extends "base.html" %}

{% block title %}HappyBursa{% endblock %}

{% block content %}
    <main class="main">
        <div class="container">
            <h2 align="center">{{ coach.get_name }} {{ coach.get_surname }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>дата рождения</td>
                        <td>{{ coach.date_of_birth|date:'j F, Y' }}</td>
                    </tr>
                    <tr>
                        <td>адрес</td>
                        <td>{{ coach.address }}</td>
                    </tr>
                    <tr>
                        <td>логин skype</td>
                        <td>{{ coach.skype }}</td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>{{ coach.user.email }}</td>
                    </tr>
                    <tr>
                        <td>телефон</td>
                        <td>{{ coach.phone }}</td>
                    </tr>
                    <tr>
                        <td>курсы учитель</td>
                        <td>{% for course_item in coach_courses %}
                            <p>
                                <a href="{% url 'courses:detail' course_item.id %}">{{ course_item.name }}</a>студенты
                                курса
                                <a href="{% url 'students:list_view' %}?course_id={{ course_item.id }}"><span
                                        class="glyphicon glyphicon-new-window"></span></a>
                            </p>
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>курсы ассистент</td>
                        <td>{% for course_item in assistant_courses %}
                            <p>
                                <a href="{% url 'courses:detail' course_item.id %}">{{ course_item.name }}</a>студенты
                                курса
                                <a href="{% url 'students:list_view' %}?course_id={{ course_item.id }}"><span
                                        class="glyphicon glyphicon-new-window"></span></a>
                            </p>
                        {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
{% endblock content %}